@media screen and (max-width: 1182px) {
    .row-md {
        flex-direction: column !important;
    }

    .col-md-100 {
        width: 100% !important;
    }

    .col-75 {
        width: 100%;
    }

    .col-md-90 {
        width: 90% !important;
    }

    .col-md-60 {
        width: 60% !important;
    }

    .col-md-50 {
        width: 50% !important;
    }

    .col-md-70 {
        width: 70% !important;
    }

    .reset-ml {
        margin-left: 0;
    }

    .reset-mr {
        margin-right: 0;
    }

    .reset-margin-md-top {
        margin-top: 0;
    }

    .reset-pl {
        padding-left: inherit;
    }

    .reset-pr {
        padding-right: inherit;
    }

    .mb-md-40 {
        margin-bottom: 40px;
    }

    .m-t-md-160 {
        margin-top: 160px;
    }

    .container-md {
        max-width: 900px;
        margin: auto;
    }

    .pl-md-10 {
        padding-left: 10%;
    }

    .pr-md-10 {
        padding-right: 10%;
    }

    .pd-bt-20{
        padding-bottom: 20px;
    }

    .margin20{
        margin: 20px;
    }

    .margin-md-top0 {
        margin-top: 0;
    }

    .items{
        display: none;
    }

    .text-md-center {
        text-align: center;
    }


    .container-circle {
        width: 300px;
        height: 300px;
    }

    .svg-about {
        width: 250px;
        height: 250px;
    }

    .container .post .header_post img {
        max-width: 125%;
    }

    .container .post .header_post{
        width: 100%;
    }
    
    .container .post{
        margin: 5px;
    }
    .items {
        height: 180px;
        bottom: 180px;
    }

    .table{
        display: inline;
        text-align: center;
    }

    .button-project{
        transition: all 0.3s ease-in-out;
        display: inline-block;
        width: 150px;
        height: 30px;
        line-height: 25px;
        background-color: var(--noir);
        text-transform: capitalize;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .button-project a{
        font-size: 20px;
        
    }

    h1 {
        font-size: 30px !important;
    }
    
    h2 {
        font-size: 20px !important;
    }
    
    
    h4 {
        font-size: 20px !important;
    }
    
}



@media screen and (max-width: 653px) {
    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    h4 {
        font-size: 10px !important;
    }

    .row-ms {
        flex-direction: column !important;
        align-items: center;
    }
    
    .pd-top-ms-20{
        padding-top:  20px;
    }

    .col-ms-100 {
        width: 100% !important;
    }

    .col-ms-90{
        width: 90% !important;
    }

    .col-ms-80 {
        width: 80% !important;
    }
    .text-ms-center{
        text-align: center !important;
    }

    .col-ms-70 {
        width: 70% !important;
    }

    .container-ms{
        max-width: 400px;
        max-width: auto;
    }

    .align-items-ms{
        align-items: center !important;
    }

    .items{
        display: none;
    }


    .col-ms-50 {
        width: 50% !important;
    }

    .d-flex-reset{
        justify-content: center;
    flex-direction: column;
    }

    .container .post{
        height: 500px;
        width: 350px;
    }

    .container .post .header_post{
        background: #ffffff;
    }

    .font-icon{
        font-size: 20px;
    }
}

@media screen and (max-width: 877px){
    h1,h2,h3,h4{
        font-size: 20px !important;
    }
    .svg-about{
        width: 200px;
        height: 200px;
    }
    .row-ms-gd{
       flex-direction: column;
       align-items: center;
    }
    
    .skill img{
        width: 10%;
    }

    .skill p{
        font-size: 13px !important;
    }
}


@media screen and (max-width: 1440px){
   .container{
    max-width: 1100px;
   }
}


@media screen and (max-width: 653px){
    .table{
        display: inherit !important;
    }

    .col-sm-70{
        width: 70% !important;
    }

    .col-sm-80{
        width: 80% !important;
    }

    .pd-resert-ms{
        padding: 0;
    }
    .button-continue{
        width: 130px;
        font-size: 20px !important;
    }

    .test{
        margin: 0;
    }
    
    .padding-3{
        padding: 0;
    }

    .svg-about{
        width: 180px;
        height: 180px;
        margin-top: 25px;
    }

    .text-sm-center{
        text-align: center;
    }

    .test ul{
        padding-left: 0px;
    }
    .picture{
        width: 100%;
    }
    .m-t-md-160{
        margin-top: 50px !important;
    }
    #menuToggle{
        top: 30px !important;
    left: 10px !important;
    }
    .table{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    
}


