#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.navbar{
    background-color: var(--orange);
}



#menuToggle a {
    text-decoration: none;
    color: var(--gris);  
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: var(--noir);
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--noir);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--gris);
}


#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    width: 150px;
    height: 100vh;
    background: var(--orange);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}


#menuToggle input:checked~ul {
    transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dark-mode-text {
    color: #f1f1f1;
}


#chkToggle {
    display: none;
}

#chkToggle:checked+ul.main-nav {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 1000;
    }

    #chkToggle:checked+ul.main-nav {
        display: flex;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        padding-left: 0px;
        border-bottom: 2px solid var(--orange);
        padding: 10px;


    }

    .main-nav li {
        margin: 0 12px;

    }


    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: var(--orange);
    }
}


.container {
    max-width: 1440px;
    margin: auto;
}

.row {
    display: flex;
}

.height-100 {
    min-height: 100vh;
}

.align-items-center {
    align-items: center;
}


.fl-row {
    flex-direction: row;
}

.col-100 {
    width: 100%;
}

.col-40 {
    width: 40%;
}

.col-80 {
    width: 80%;
}

.col-60 {
    width: 60%;
}

.col-75 {
    width: 75%;
}

.col-33 {
    width: 33.33%;
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 27%;
}

.text-align-center {
    text-align: center;
}

.pos-rel {
    position: relative;
}

.pos-abso {
    position: absolute;
}

.align-right {
    text-align: right;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.pos-relative {
    position: relative;
}

.flex-direction-column {
    flex-direction: column;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-bottom90 {
    margin-bottom: 90px;
}

.padding20 {
    padding: 20px;
}

.mg-reset {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mb-reset {
    margin-bottom: 0px;
}

.d-flex {
    display: flex;
}

.cursor {
    cursor: pointer;
}

.bold {
    font-weight: bold !important;
}

.bold-pseudo {
    font-weight: bold !important;
    font-size: 22px !important;
}

.bold-diplome {
    font-weight: bold !important;
}

.orange {
    color: var(--orange);
}

.white {
    color: white;
}

.fa-solid {
    padding-right: 10px;
}

.fa-language {
    color: var(--orange);
    transition: .3s all;
    font-size: 25px;
}

.fa-language:hover {
    color: var(--noir) !important;
}


.fa-circle-half-stroke {
    font-size: 25px;
    color: var(--orange);
    transition: .3s all;
}

.fa-circle-half-stroke:hover {
    color: var(--noir) !important;
}

.svg {
    position: absolute;
    left: -15%;
    right: -5%;
    transform: rotate(338deg);
}

.text-justify {
    text-align: justify;
}