/* 
 
--------------- Police d'écriture ---------------
            font-family: 'Lato', sans-serif;
            font-family: 'Cardo', serif;
--------------------------------------------------

*/



/*  --------------- RESET CSS ------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--backgroundgris);
    line-height: 1.5;
}


button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


/*  --------------- RESET CSS ------------------------*/

/*  --------------------COLORS--------------------------*/
:root {
    --backgroundgris: #efefef;
    --backgroundnoir: #1d1d1d;
    --gris: #efefef;
    --noir: #1d1d1d;
    --orange: #ff8c42;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 30px !important;
    color: #1d1d1d;
}


h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px !important;
    color: #1d1d1d;
    font: 33px;
    text-transform: uppercase;
}

p {
    font-size: 18px !important;
}

ul {
    list-style: none;
  }


/*  --------------------COLORS--------------------------*/



/*  --------------- CONTAINER / WIDHT ------------------------*/

.container {
    max-width: 1440px;
    margin: auto;
}

.row {
    display: flex;
}

.height-100 {
    min-height: 100vh;
}

.align-items-center {
    align-items: center;
}


.fl-row {
    flex-direction: row;
}

.col-100 {
    width: 100%;
}

.col-40 {
    width: 40%;
}

.col-80 {
    width: 80%;
}

.col-60 {
    width: 60%;
}

.col-75 {
    width: 75%;
}

.col-33 {
    width: 33.33%;
}

.col-30 {
    width: 30%;
}

.col-20{
    width: 20%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 27%;
}

.text-align-center {
    text-align: center;
}

.pos-rel {
    position: relative;
}

.pos-abso {
    position: absolute;
}

.align-right {
    text-align: right;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.pos-relative {
    position: relative;
}

.flex-direction-column {
    flex-direction: column;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-bottom90 {
    margin-bottom: 90px;
}

.padding20{
    padding: 20px;
}

.mg-reset{
    margin-top: 0px;
    margin-bottom: 0px;
}

.mb-reset{
    margin-bottom: 0px;
}

.d-flex{
    display: flex;
}

.cursor {
    cursor: pointer;
}

.bold{
    font-weight: bold !important;
}

.bold-pseudo {
    font-weight: bold !important;
    font-size: 30px !important;
}

.bold-diplome {
    font-weight: bold !important;
}

.orange {
    color: var(--orange);
}

.white {
    color: white;
}

.fa-solid {
    padding-right: 10px;
}

.fa-language {
    color: var(--orange);
    transition: .3s all;
    font-size: 25px;
}

.fa-language:hover {
    color: var(--noir) !important;
}


.fa-circle-half-stroke {
    font-size: 25px;
    color: var(--orange);
    transition: .3s all;
}

.fa-circle-half-stroke:hover {
    color: var(--noir) !important;
}

.svg{
    position: absolute;
    left: -15%;
    right: -5%;
    transform: rotate(338deg);
}

.text-justify{
    text-align: justify;
}




/*  --------------- CONTAINER / PRESET ------------------------*/


/*  --------------- NAV BAR ------------------------*/
.navbar {
    font-size: 18px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: var(--noir);
    font-weight: 600;
    font-size: 25px;
    transition: .3s;

}

.main-nav li {
    text-align: center;

}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 0px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}



.dark-mode-text {
    color: #f1f1f1;
}


#chkToggle {
    display: none;
}

#chkToggle:checked+ul.main-nav {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        margin-top: 40px;
    }

    #chkToggle:checked+ul.main-nav {
        display: flex;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        padding-left: 0px;
        border-bottom: 2px solid var(--orange);
        padding: 10px;
        
        
    }

    .main-nav li {
        margin: 0 12px;
        
    }


    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: var(--orange);
    }
}


/*  --------------- CONTAINER / PRESET ------------------------*/

/*  --------------- HEADER / PICTURE ------------------------*/

.profil {
    top: 56%;
    right: 50%;
    transform: translate(50%, -50%);
    border-bottom-right-radius: 21%;
    border-bottom-left-radius: 57%;
}


.container-circle {
    background: var(--orange);
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
}

.crop {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.picture {
    display: block;
    position: absolute;
    margin: auto;
    top: -106%;
    right: -100%;
    bottom: -110%;
    left: -85%;
}

.button {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border: 2px solid var(--noir);
    background-color: var(--noir);
    text-transform: capitalize;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.l1:before {
    transition: all 0.1s linear;
    content: attr(value);
    display: block;
}

.l1:after {
    transition: all 0.3s ease-in-out;
    content: "";
    display: block;
    background-color: var(--orange);
    margin-top: 0px;
    height: 40px;
}

.l1:hover:after {
    margin-top: -40px;
}

.l1:hover {
    color: white;
}

.items {
    height: 180px;
    display: flex;
}

.item {
    position: relative;
    justify-content: center;
    display: flex;
}

.mouse {
    width: 40px;
    height: 60px;
    border-radius: 20px;
    border: 3px solid var(--orange);
    position: absolute;

}

.mouse:before,
.mouse:after {
    content: "";
    display: block;
    position: absolute;
}

/* First */
.m-0:before {
    height: 30px;
    width: 4px;
    top: 10px;
    left: calc(50% - 2px);
    background: var(--noir);
    border-radius: 2px;
}

.m-0:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 15px;
    left: calc(50% - 5px);
    background: var(--orange);
    -webkit-animation: m-0-ball 1.2s ease-in-out infinite;
    animation: m-0-ball 1.2s ease-in-out infinite;
}

@-webkit-keyframes m-0-ball {

    40%,
    60% {
        transform: translateY(10px);
    }
}

@keyframes m-0-ball {

    40%,
    60% {
        transform: translateY(10px);
    }
}




/*  --------------- HEADER / PICTURE ------------------------*/


/*  --------------- ABOUT ------------------------*/

h2.no-background {
    position: relative;
    overflow: hidden;
}

h2.no-background span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;
}

h2.no-background span:before,
h2.no-background span:after {
    content: "";
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid red;
}

h2.no-background span:before {
    right: 100%;
}

h2.no-background span:after {
    left: 100%;
}

h2.no-span {
    display: table;
    white-space: nowrap;
}

h2.no-span:before,
h2.no-span:after {
    border-top: 2px solid var(--orange);
    content: "";
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
}

h2.no-span:before {
    right: 1.5%;
}

h2.no-span:after {
    left: 1.5%;
}


.about{
    background-color: #ff8c42;
    color: var(--gris);
    
}

.about h2{
    color: var(--gris);
    font-weight: 900;
}


.svg-about{
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    border: 2px solid var(--gris);
    border-radius: 50%;
    padding-top: 15px;
}

.about-logo .fa-brands{
    font-size: 30px;
    margin-right: 20px;
    color: var(--gris);
    transition: .4s ease-in-out;
}

.fa-brands:hover{
    color: var(--noir);
}

/*  --------------- ABOUT ------------------------*/



/*  --------------- SKILL ------------------------*/



.langage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front-end img{
    width: 20%;
    margin: 10px;

}

.back-end img{
    width: 17%;
    margin: 10px;
}

.skill-front-end{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-front-end{
    margin: 5px;
}


.skill p{
    margin-top: 10px;
    margin-bottom: 25px;
    
}

.skill h3{
    font-size: 20px !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skill{
    border: 1px solid #dbdbdb;
    margin-bottom: 8px;
}


.skill img{
    width: 14%;
    padding: 15px;
}



/*  --------------- SKILL ------------------------*/

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 1s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 1s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }